
/* creating columns for image grid */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* HOVER OVER */


.image-overlay {
	background-color: #ffffff ;
    overflow: hidden;
	position: relative;
}

.overlay-text {
	visibility: visible;
	vertical-align: middle;
}

.image-overlay:hover img {
	opacity: 0.5;
}

.image-overlay:hover .overlay-text {
	visibility: visible;
}
