body {
	padding-top: 70px;
	line-height: 150%;
	background-color: #fff;
}

.recipe-text {
	min-height: 600px;
}

 .recipe-header {
	min-height: 400px;
	background-size: cover;
	background-attachment: fixed;
}

.recipe-text {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

.img-responsive {
 	width: cover;
}

.container {
	padding: 50px 50px 50px 50px;
}

.left-column {
	float: none;
}

.right-column {
	float: none;
}

#bottom-box {
	padding: 50px 50px 50px 50px;
	background-color: #a9a3a2;
	text-align: center;
}

#shep-pie-header {
	background-image: url("../images/rural-england.jpg");
}

#intro {
padding: 50px 50px 50px 50px;
text-align: center;
font-family: 'Quicksand', sans-serif;
font-size: 20px;
}

.navbar-default {
	background-color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #777;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

h1 {
	font-size: 400%;
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
	color: #000000;
	text-align: left;
	line-height: 130%;
}

h2 {
	font-size: 200%;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #000000;
}

h3 {
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	color: #000000;
}

p {
	line-height: 20px;
}

#shep-pie-header img {
	padding: 50px 10px 30px 10px;
}

.social a {
  padding: 0.5em;
}
