body {
	padding-top: 70px;
	line-height: 150%;
	background-color: #fff;
}

#carousel-example-generic img {
	display: block;
	width: 600px;
	margin: 0 auto;
	max-width: 100%;
	}

.navbar-default {
	background-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #777;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

.jumbotron {
	padding-top: 250px;
	padding-right: 30px;
	padding-bottom: 250px;
	padding-left: 80px;
	background-image: url("../images/cover_photo_one.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox h1, h2 {
		margin: 4%;
		font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    color: #000000;
		text-align: center;
}

h1 {
	font-size: 400%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-weight: bold;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
}

p {
	line-height: 20px;
}

.container {
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 70px;
	padding-left: 80px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}
