body, html {
	height: 100%;
	margin: 0;
}

h1 {
  font-size: 60px;
}

.nav-left {
	font-size: 25px;
	float: left;
	margin-top: 05px;
	padding-left: 20px;
	padding-right: 20px;
}

.nav-right {
	font-size: 35px;
	float: right;
	margin-top: 05px;
	padding-left: 20px;
	padding-right: 20px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa {
		padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
